<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">AGKiosk</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active">Configuration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Display-Keys</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
    <h1>AGKiosk Configuration</h1>
    
    {{>messages}}

    <div class="card p-3">
        <span class="card-title">Current URL:</span>
        <form method="POST" action="/config/currentURL/save">
            <input class="form-control" name="url" placeholder="URL" value="{{url}}">
            <input type="submit" class="btn btn-outline-success" value="Save">
        </form>
    </div>
</div>