<div class="container mt-4 text-center">
  <h1>Welcome to AGKiosk!</h1>
  <div class="d-flex justify-content-evenly pt-5">
    <a href="/config" class="btn btn-outline-primary d-block w-100 btn-block py-5 mx-2">Configuration</a>
    <a href="/live" class="btn btn-outline-primary d-block w-100 btn-block py-5 mx-2">Live</a>
  </div>
</div>